.main-container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #3e4450; /* Light gray background */
}

.main-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .main-container button:hover {
    background-color: #0056b3;
  }

  .main-container h2 {
    font-size: 1em;
  }